PORT=3005
MONGO_DB_URL=mongodb://<userid>:<password>@ds161001.mlab.com:61001/falcon?connectTimeoutMS=300000
#For test enviornment
MONGO_TEST_DB_URL=mongodb://<userid>:<password>@ds053160.mlab.com:53160/testfalcon?connectTimeoutMS=300000

# To pass additional MongoDB connection options
MONGO_DB_OPTIONS={"useMongoClient": true}
